<div class="admin-menu d-flex me-4 align-items-center">
	<div class="dropdown dropstart">
		<button class="btn btn-dark shadow-none dropdown-toggle me-2" type="button" id="dropdownMenuButton1"
			data-bs-toggle="dropdown" aria-expanded="false">
		</button>
		<ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
			<li id="myAccount"><a class="dropdown-item" href="#">My account</a></li>
			<li id="createUser"><a class="dropdown-item" href="#">Create user</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li id="logOut"><a class="dropdown-item" href="#">Log out</a></li>
		</ul>
	</div>
	<div class="avatar text-center">
		<img src=%avatar% class="rounded-circle" />
		<div class="text-light">%username%</div>
	</div>
</div>