<div class="col-4 text-center border border-dark">
	<div class="navbar-brand me-0 bg-success">Finished</div>
	<div id="finished-board" class="card-field d-flex flex-column justify-content-between align-items-center"></div>
	<div>
		<ul class="collapse list-group" id="collapseFinished">
			%tasks%
		</ul>
		<button id="addCardFinished" class="btn btn-dark shadow-none" type="button" data-bs-toggle="collapse"
			data-bs-target="#collapseFinished" aria-expanded="false" aria-controls="collapseFinished">
			+Add card
		</button>
	</div>
</div>