<div class="col-4 text-center border border-dark">
	<div class="navbar-brand me-0 bg-warning">In progress</div>
	<div id="progress-board" class="card-field d-flex flex-column justify-content-between align-items-center"></div>
	<div>
		<ul class="collapse list-group" id="collapseProgress">
			%tasks%
		</ul>
		<button id="addCardProgress" class="btn btn-dark shadow-none" type="button" data-bs-toggle="collapse"
			data-bs-target="#collapseProgress" aria-expanded="false" aria-controls="collapseProgress">
			+Add card
		</button>
	</div>
</div>